.idea/
*.iml
*.log
.gradle
.DS_Store
local.properties
.env
.vscode 
.classpath
.project
.settings
./src
openssl/

pjsip/pjsip-src-bin
pjsip/bkp*
pjsip/pjproject-2.7.2

PlivoEndpoint/build
PlivoEndpoint/src/main/jniLibs
PlivoEndpoint/PlivoEndpoint.iml
PlivoEndpoint/.gradle

opus/src
build/libs/*.asc
build/output/aar/*.asc
build/poms/*.asc
build/publications/release/*.asc
